*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;

}
.nav{
    z-index: 1;
}
.Home{
    background-image: url('https://wallpaperaccess.com/full/1190427.jpg');
    /* background-attachment: fixed; */
    background-size: cover;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
